@charset "UTF-8";

:root {
  --color-white: #fff;
  --color-black: #252525;
  --color-cyan: #2ab3b1;
  --color-cyan-light: #4abebd;
  --color-bright-yellow: #c0df33;
  --color-light-grey: #e6eff5;
  --color-grayish-blue: #9aa7be;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-wrap: wrap; /*for mobile-first workflow*/
  justify-content: center;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: normal;
  background-color: var(--color-light-grey);
  color: var(--color-black);
}

.container {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
  margin-top: 72px;
  margin-bottom: 62px;
}

.rectangle1 {
  background-color: var(--color-white);
  width: 311px;
}

.title-rectangle1 {
  color: #2ab3b1;
  text-align: left;
  font: 700 20px "Karla", sans-serif;
  margin: 28px 24px 0 24px;
}

.sub-title-rectangle1 {
  color: #c0df33;
  text-align: left;
  font: 700 15px/20px "Karla", sans-serif;
  position: relative;
  width: 263px;
  margin: 24px 24px 0 24px;
}

.text-rectangle1 {
  color: #9aa7be;
  text-align: left;
  font: 400 14px/26px "Karla", sans-serif;
  position: relative;
  width: 263px;
  margin: 16px 24px 32px 24px;
}

.rectangle2 {
  background-color: var(--color-cyan);
  display: inline-block;
  width: 311px;
}

.title-rectangle2 {
  color: var(--color-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.225px;
  margin: 24px 105px 18px 24px;
}

.price-rectangle2 {
  color: var(--color-white);
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-left: 24px;
}

.text-price-rectangle2 {
  color: var(--color-white);
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.2px;
  opacity: 0.5;
}

.text-rectangle2 {
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.2px;
  margin-top: 4px;
  margin-left: 24px;
}

.button {
  width: 263px;
  height: 48px;
  border-radius: 5px;
  border-color: var(--color-bright-yellow);
  border-style: none;
  background: var(--color-bright-yellow);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.2px;
  margin: 24px 24px 24px 24px;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.rectangle3 {
  background-color: var(--color-cyan-light);
  width: 311px;
  height: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.title-rectangle3 {
  color: var(--color-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.225px;
  padding-top: 24px;
  margin-left: 24px;
}

.text-rectangle3 {
  color: var(--color-white);
  opacity: 0.75;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.175px;
  margin: 18px auto auto 24px;
  padding-bottom: 24px;
}
